@font-face {
    font-family: "Figtree";
    src: url(./assets/fonts/static/Figtree-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Figtree";
    src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
    font-weight: 800;
}

* {
    border: 1px solid red;
}

body {
    font-family: "Figtree";
    font-weight: 600;
}

span, h1 {
    font-weight: 800;
}

main {
    width: 95%;
    max-width: 350px;
    margin: auto;
}

main > img {
    width: 100%;
}

h1 {
    font-size: 1.5rem;
}

span {
    font-size: 0.9rem;
}

span:nth-of-type(2) {
    font-weight: 600;
}